body {
    margin: 0;
}

.dark-background {
    background-color: #1F2937;
}

.main-text {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 48px;
    color: #F6FAF5
}

.secondary-text {
    font-family: "Roboto";
    font-size: 18px;
    color: #E5E7EB
}

.secondary-text a {
    outline: none;
    text-decoration: none;
    color: #E5E7EB
}

#logo {
    font-family: "Roboto"; 
    font-size: 24px;
    color: #F9FAF8
}

.button-color {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 8px;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.info-text {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.qu-back {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
}

.qu-text {
    font-family: "Roboto Italic";
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    quotes: none;
    width: 50%;
    height: auto;
}

.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-nav {
    display: flex;
    justify-content: space-evenly;
    width: 20em;
}

.flex-main {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.flex-main div {
    flex-wrap: wrap;
    width: 450px;
    margin-left: 100px;
    margin-right: 50px;
}

.flex-main div h2 {
    margin-bottom: 5px;
}

.flex-main div p {
    margin-top: 0;
    margin-bottom: 10px;
}

main img {
    height: 12rem;
    width: 23rem;
    margin-top: 66px;
    margin-right: 100px;
    margin-left: 50px;
}

.flex-info {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 65px;
}

.flex-img-fig {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: auto;

}

figure img {
    height: 150px;
    max-width: 150px;
    border: 3px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px
}

article div figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fig-text {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    color: #1F2937;;
}

#fig-html {
    padding-top: 3px;
    font-size: 15px;
}

.author {
    font-family: "Roboto";
    font-size: 16px;
    display: flex;
    flex-direction: row-reverse;
}