body {
    margin: 0;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto");
}

.dark-background {
    background-color: #1F2937;
}

.main-text {
    font-family: "Roboto";
    font-weight: 800;
    font-size: 48px;
    color: #F6FAF5
}

.secondary-text {
    font-family: "Roboto";
    font-size: 18px;
    color: #E5E7EB
}

.secondary-text a {
    outline: none;
    text-decoration: none;
    color: #E5E7EB
}

#logo {
    font-family: "Roboto"; 
    font-size: 24px;
    color: #F9FAF8
}

.button-color {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 8px;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.info-text {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 800;
    color: #1F2937
}

.qu-back {
    background-color: #E5E7EB;
}

.qu-text {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-header h1 {
}

.flex-nav {
    display: flex;
    justify-content: space-evenly;
    width: 20em;
}

.flex-main {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.flex-main div {
    flex-wrap: wrap;
    width: 450px;
    margin-left: 100px;
    margin-right: 50px;
}

.flex-main div h2 {
    margin-bottom: 5px;
}

.flex-main div p {
    margin-top: 0;
    margin-bottom: 10px;
}

img {
    height: 12rem;
    width: 23rem;
    margin-top: 66px;
    margin-right: 100px;
    margin-left: 50px;
}